<include file="Index/header" />

	<section id="property_1" class="padding bg_gallery">

		<div class="container">

			<div class="row">
				<div class="col-sm-9 col-md-9">


					<!--新模板-->
					<div id="property-gallery" class="cbp listing1">
						<volist name="result['listMagazine']" id="vo">
							<!--
                              <if condition = "$vo.classification eq 1">class= "cbp-item sale"</if>
                              <elseif condition = "$vo.classification eq 2">class= "cbp-item latest"</elseif>
                            <esle condition = "$vo.classification eq 3">class= "cbp-item rent"</esle>
                            -->

							<div class= "cbp-item sale">
								<div class="property_item">
									<div class="image">
										<a href="/index.php?c=detail&id={$vo.magazine_id}"><img src="{$vo.thumb}" alt="{$vo.title}" class="img-responsive"></a>
										<div class="price clearfix">
											<span class="tag pull-right">{$vo.price} Per Month</span>
										</div>
										<span class="tag_t" <if condition ="$vo.forsale eq 0"> style="display:none"</if>><if condition ="$vo.forsale eq 1">For Sale</if></span>
										<span class="tag_l" <if condition ="$vo.featured eq 0">style="display:none"</if>><if condition ="$vo.featured eq 1">Featured</if></span>
									</div>
									<div class="proerty_content">
										<div class="proerty_text">
											<h3 class="captlize"><a href="/index.php?c=detail&id={$vo.magazine_id}">{$vo.title}</a></h3>
											<p>{$vo.description}</p>
										</div>
										<div class="property_meta transparent">

											<dd class="magazine-intro">
												{$vo.keywords}
											</dd>
										</div>

										<div class="favroute clearfix">
											<p><span>{$vo.create_time|date="Y-m-d H:i:s",###}</span> -订阅-(<i magazine-id="{$vo.magazine_id}" class="magazine_count node-{$vo.magazine_id}">{$vo.count}</i>)</p>
											<ul class="pull-right">
												<li><a href="javascript:void(0)"><i class="icon-like"></i></a></li>
												<li><a href="#seventy" class="share_expender" data-toggle="collapse"><i class="icon-share3"></i></a></li>
											</ul>
										</div>
										<div class="toggle_share collapse" id="seventy">
											<ul>
												<li><a href="javascript:void(0)" class="facebook"><i class="icon-facebook-1"></i> Facebook</a></li>
												<li><a href="javascript:void(0)" class="twitter"><i class="icon-twitter-1"></i> Twitter</a></li>
												<li><a href="javascript:void(0)" class="vimo"><i class="icon-vimeo3"></i> Vimeo</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</volist>
					</div>
					<!--新模板结束-->
					<!--
					<div class="magazine-list">
						<volist name="result['listMagazine']" id="vo">
							<dl>
								<dt>{$vo.title}</dt>
								<dd class="magazine-img">
									<a href="/index.php?c=detail&id={$vo.magazine_id}"><img width="200" height="120" src="{$vo.thumb}" alt="{$vo.title}"></a>
								</dd>
								<dd class="magazine-intro">
									{$vo.description}
								</dd>
								<dd class="magazine-info">
									{$vo.keywords} <span>{$vo.create_time|date="Y-m-d H:i:s",###}</span> 阅读({$vo.count})
								</dd>
							</dl>
						</volist>
					{$result['pageres']}

					</div>
					-->
					<!--<button id="sing_more" type="button" class="btn btn-primary btn-lg btn-block sing_display_none">更多</button>-->
				</div>
				<!--start right -->

				<include file="Index/right" />
				<!-- end right-->
			</div>
		</div>

	</section>

</body>
<script src="/Public/js/jquery.js"></script>
<script>
	
</script>
<!--<script src="/Public/js/home/common.js"></script>-->
<script src="/Public/js/jquery-2.1.4.js"></script>
<script src="/Public/js/jquery.cubeportfolio.min.js"></script>
<script src="/Public/js/functions.js"></script>
</html>